body,
html {
  margin: 0;
  font-family: Lato, Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
  padding: 0px 30px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  left: 0;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.date-container {
  display: flex;
}

.date-container
  .rainbow-date-picker_input-container
  .rainbow-date-picker_input-label {
  padding: 0;
}
.title {
  padding: 0px 8px;
  padding-left: 10px;
  font-size: 1.25rem;
  line-height: 2rem;
  color: #333;
}

.mood-container {
  display: flex;
  align-items: center;
  width: 30%;
}
.mood-container .mood-icon {
  width: 3rem;
  margin-right: 8px;
  padding: 5px;
}

.mood-container .mood-icon.selected {
  width: 3.25rem;
}
.mood-container .mood-icon:not(.selected) {
  opacity: 0.2;
}

.box-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.journal-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.box-container textarea,
.journal-container .heading input,
.photos-container .heading input,
.journal-container .body textarea {
  border: none;
  outline: none;
  background: transparent;
  color: #111;
  font-size: 3rem;
  line-height: 3rem;
  width: 100%;
  display: block;
  resize: none;
}

.journal-container .heading input::placeholder {
  font-size: 3rem;
  line-height: 3rem;
  opacity: 0.15;
}

.box-container textarea,
.photos-container .heading input {
  font-size: 1rem;
  line-height: 1.25rem;
}

.box-container textarea {
  padding: 5px 10px;
  height: 100px;
}

.photos-container .heading input {
  text-align: center;
}

.journal-container .body textarea {
  font-size: 1rem;
  line-height: 1.25rem;
  padding-top: 10px;
  height: 500px;
  padding-left: 5px;
}

.journal-container .body textarea::placeholder {
  font-size: 1rem;
  line-height: 1.25rem;
  opacity: 0.15;
}

.photos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
  margin: 10px;
  position: relative;
  flex-wrap: wrap;
}

.photos-container .my-photo {
  width: 50%;
  border-radius: 50%;
}

.photos-container .place-photo {
  width: 100%;
  border-radius: 50%;
}

.photos-container img {
  display: block;
  width: 100%;
  padding: 5px;
}

.my-photo img {
  border-radius: 50%;
}

.default img {
  opacity: 0.3;
}

.highlight {
  background: #4e4e4e;
}

.date-container .rainbow-button:focus {
  outline: 0;
  box-shadow: none;
}

.blue-pill,
.green-pill,
.yellow-pill,
.red-pill {
  position: relative;
  background: #e74c3c;
  color: #fff;
  border-radius: 0px 50px 50px 0px;
}

.blue-pill {
  background: #3498db;
}
.green-pill {
  background: #1abc9c;
}
.yellow-pill {
  background: #f1c40f;
}
